{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "no-empty": [1, { "allowEmptyCatch": true }],
    "no-constant-condition": "off"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ]
}